<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<% if(success && success.length){ %>
    <div class="alert alert-success alert-dismissible fade show" role="alert" id="success-alert"
        data-auto-dismiss="2000">
        <%= success %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>


    <% } %>


        <% if(error && error.length){ %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert" id="success-alert">
                <%= error %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <% } %>

                <script type="text/javascript">

                    $(document).ready(function () {

                        window.setTimeout(function () {
                            $(".alert").fadeTo(1000, 0).slideUp(1000, function () {
                                $(this).remove();
                            });
                        }, 1000);

                    });
                </script>