#map{
    width: 100%;
    height: 500px;
    border-radius: 10px;
}

.card{
    margin-bottom: 2vh;
}

@media (max-width: 576px) {
    #map { 
    height: 40vh;
    }
    .card{
        margin-bottom: 3vh;
    }
    }